.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 83%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 8%

  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 53%
    right: 83%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bloque-texto-q 
    position: relative;

.bloque-texto-q.color-secundario:before 
    background-color: #E7F3FF;

.bloque-texto-q:before 
    content: '';
    display: block;
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 30%;
    right: 0%;

.color-acento-contenido
  color: #4DD0E1 !important

.acordion__accion__btn--a 
  background-color: #FECA2E !important

.exponente
  font-size: 0.7rem
  bottom: 8px
  position: relative

.exponentes
  font-size: 0.7rem
  padding-bottom: 8px
  position: relative

.bloque-texto-a::before 
    left: 62%
    background-color: #E6E7E8 !important



.faa
  background-color: #F4F9FD !important
  
.fab
  background-color: #BDDCF6 !important

.fac
  background-color: #FFF7DE !important

.fad
  background-color: #FF6B00 !important